body {
    margin: 0;
    padding: 0;
    background-color: rgb(25, 29, 36);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

.dark-mode {
    background-color: white;
    color: rgb(82, 82, 82);
}

h1 {
    font-weight: 600;
    font-size: 175%;
    padding-top: 4%;
}

h2 {
    font-weight: 300;
    line-height: 175%;
    font-size: 135%;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3 {
    font-weight: 300;
    font-size: 3vh;
    line-height: 130%;
}

a {
    font-weight: 600;
    color: rgb(180, 211, 252);
}

p {
    padding-top: 1%;
    font-weight: 300;
    font-size: 90%;
    line-height: 150%;
}

/*
a:hover {
    font-size: 105%;
} */

.button {
    float: right;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}



#intro {
    padding-top: 12%;
    margin-bottom: 8%;
    height: 100%;
    text-align: center;
}

#intro h1 {
    font-size: 320%;
}

#summary {
    /* padding-left: 3%; */
    padding-top: 3%;
    padding-bottom: 5%;
}

#intro a {
    color: white;
    font-size: 120%;
}

#about {
    margin-bottom: 10%;
    padding-top: 12%;
    height: 100%;
}

#about p {
    font-size: 110%;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 55vw;
    border-radius: 50%;
    filter: brightness(105%);

}

#projects {
    padding-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

#projects p {
    font-size: 90%;
}

#ShotSpot {
    padding-top: 5%;
}

#CalorEats {
    padding-top: 5%;
}

#experience {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
}

#experience p {
    padding-top: 2%;
    line-height: 110%;
    font-size: 90%;
}

#footer {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 5%;
}


.btn-center {
    margin: 0 auto;
}

.col-md-4 {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 1%;
    margin-top: 0.5%;
}

.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 8px rgba(241, 241, 241, 0.6);
}

.arrow {
    padding-top: 10px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

#front-arrow {
    float: right;
    margin-top: 0;
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Underline effects */
.underbar {
    width: 0;
    height: 5px;
    background: rgba(100, 100, 200, 0);
    left: -50px;
    top: 20px;
    position: absolute;
    -webkit-transition: 0.5s ease;
}

li {
    width: 50px;
    float: left;
    -webkit-transition: 0.5s ease;

    &:hover {
        text-shadow: 0px -2px 0px rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
    }

    &:nth-of-type(1):hover~.underbar {
        left: 0;
        width: 40px;
        background: rgba(100, 100, 200, 1);
    }

    &:nth-of-type(2):hover~.underbar {
        left: 50px;
        width: 40px;
        background: rgba(200, 100, 100, 1);
    }

    &:nth-of-type(3):hover~.underbar {
        left: 100px;
        width: 40px;
        height: 1px;
        background: rgba(150, 250, 250, 0.5);
        box-shadow: 0 0 10px rgba(70, 250, 250, 1);
    }

    &:nth-of-type(4):hover~.underbar {
        left: 150px;
        width: 50px;
        height: 1px;
        background: rgba(150, 250, 250, 0.5);
        box-shadow: 0 0 10px rgba(70, 250, 250, 1);
    }

    cursor: pointer;
}

/* Glow */
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}

.hvr-glow:hover,
.hvr-glow:focus,
.hvr-glow:active {
    box-shadow: 0 0 8px rgba(241, 241, 241, 0.6);
}

/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

/* Bounce In */
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }

    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }

    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.bi-arrow-up {
    color: white;
}